/* ComboBox */
.combobox {
    position: relative;
    display: inline-block;
    width: 200px;
}

/* Select element */
.combobox select {
    width: 100%;
    padding: 10px 30px 10px 10px;

    border: 3px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    position: relative;
    appearance: none;
}


.combobox-icon  {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

}





.combobox select::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #999;
    /*border-top-color: transparent;*/
    /*border-right-color: transparent;*/
    transition: border-color 0.3s ease;
    pointer-events: auto;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #555;
}

/* Hover/focus styles */
.combobox select:hover,
.combobox select:focus {
    outline: none;
    border-color: #756ed0;
    box-shadow: 0 0 4px rgba(108, 99, 255, 0.3);
    cursor: pointer;
}

/* Arrow icon animation on hover/focus */
.combobox select:hover::after,
.combobox select:focus::after {
    border-color: #666;
    border-top-color: #888;
}

/* Disabled styles */
.combobox select:disabled {
    background-color: #f0f0f0;
    color: #999;
}

/* Disabled arrow icon */
.combobox select:disabled::after {
    border-color: #ccc;
}

/* Option styles */
.combobox select option {
    background-color: #fff;
    color: #333;
}

/*!* Placeholder option *!*/
/*.combobox select option[value=""] {*/
/*    color: #999;*/
/*}*/

.combobox select option {
    background-color: #f2f2f2;
    color: #333;
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.combobox select option:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}
