/* header.css */

/* Header container */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #887e7e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo */
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Navigation */
  .navigation {
    display: flex;
  }
  
  .navigation ul {
    display: contents;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation li {
    margin-right: 20px;
  }
  
  .navigation li:last-child {
    margin-right: 0;
  }
  
  .navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  /* Login and Signup buttons */
  .login-btn,
  .signup-btn {
    padding: 8px 16px;
    background-color: #232121;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;

  }
  
  .login-btn:hover,
  .signup-btn:hover {
    background-color: #2a2a2a;
  }
  

  
  .overlay {
    position:relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);

    display:flex;
  }
  
  .form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    display: none;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  